PORT=3001
NODE_ENV=development
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/whasender?retryWrites=true&w=majority
JWT_SECRET=your-secret-here-at-least-64-characters-long-for-security
JWT_EXPIRY=5d
ALLOWED_ORIGINS=http://localhost:5173,https://your-production-domain.com
